@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.large-checkbox {
  @apply h-4 w-4; /* Menentukan ukuran tinggi dan lebar checkbox */
  /* Anda bisa menambahkan transform: scale() di sini jika perlu memperbesar lebih lanjut */
}
.bg-gradient-custom {
  background-image: linear-gradient(to right, #24144C, #6D459A, #C53998, #4F356B);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
